# basic system files
*.vscode*
*.DS_Store
*__pycache__*

# data folder & files
*data/
*.zip

# html files
*.html

# scratch files
*scratch*
*scratch/

# results files (use git add -f to add new ones if needed)
*results/

# model weights
*.h5
*.pt